{erl_opts, [debug_info]}.
{deps, [
  {lager, "3.9.2"},
  {rdp_lvgl, ".*", {git, "https://github.com/eait-itig/rdp_lvgl", {branch, "main"}}},
  {ebox, ".*", {git, "https://github.com/arekinath/erlang-ebox", {branch, "main"}}},
  {apdu, "0.2.0"}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [lager, rdpivy]}
]}.
